<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Job Postings</title>
</head>
<body>
  <div class="header">
    <div class="left">
      <p class="header-title">Job Post CRUD</p>
      <p class="header-author">by Sian Caleb Domasig</p>
    </div>
    <p class="header-purpose">for Senti AI</p>
  </div>
  <div class="content">
    <ul class="job-postings-list">
      <%jobPostings.forEach(jobPosting => { %>
        <li class="job-posting-element">
          <h3><%= jobPosting.title %></h3>
          <%if (jobPosting.company.website) {%>
            <a href="<%= jobPosting.company.website %>"><%= jobPosting.company.name %></a>
          <% } else {%>
            <p><%= jobPosting.company.name %></p>
          <% }%>
          <p><%= jobPosting.description %></p>
          <p><%= jobPosting.location %></p>
          <p><%= jobPosting.salary %></p>
          <div class="job-posting-buttons">
            <form action="/edit-job-posting/<%= jobPosting._id %>" method="get">
              <button type="submit">Edit</button>
            </form>
            <form action="/delete-job-posting/<%= jobPosting._id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button class="delete-button">Delete</button>
            </form>
          </div>
        </li>
      <% }); %>
    </ul>
    
    <div class="create-job-posting">
      <div class="form-content">
        <h2>Create Job Posting</h2>
        <form action="/create-job-posting" method="post">
          <p>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
          </p>
          <br>
          <p>
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
          </p>
          <br>
          <p>
            <label for="location">Location</label>
            <input type="text" id="location" name="location" required>
          </p>
          <br>
          <p>
            <label for="salary">Salary</label>
            <input type="text" id="salary" name="salary" required>
          </p>
          <br>
          <p>
            <label for="company.name">Company Name</label>
            <input type="text" id="company.name" name="company.name" required>
          </p>
          <br>
          <p>
            <label for="company.website">Company Website</label>
            <input type="url" id="company.website" name="company.website">
          </p>
          <br>
          <button type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
    
    <script src="/scripts/main.js"></script>
  </body>
  </html>